body {
  color: yellow;
  font-size: 1.5em;
  text-align: center;
  font-family: Times New Roman;
  background-color: #A22BD9
  }
h1{
  border: 4px solid black;

  }
.BR{
  width: 100px;
  height: 100px;
}
